html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, white, #7ee3fa);
}

.navbar {
    background: linear-gradient(to bottom, #A6FA7E, #FF9A51);
}
.navbar-brand-custom {
    display: flex;
    align-items: center;
}

.filter-container {
    flex-shrink: 0;
    background: linear-gradient(to bottom, #A6FA7E, #FF9A51);
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    border: 2px solid #000;
    border-radius: 10px;
}

.filter-wrapper {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
#mapa-container {
    flex-grow: 1;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

#mapa-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


.perfil {

    flex-shrink: 0;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.perfil img {
    width: 80px;
    height: 80px;
}

.dados {

    flex-shrink: 0;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10PX;
    
}
.botoes {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}


.carrosel {
    flex-shrink: 0;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 868px) {
    .carrosel {
        max-height: none;
        overflow-y: visible;
    }
}








